<%= content_for :subtitle do %>
  Advisor Homepage
<% end %>


<h1>Welcome!</h1>

<p>Thank you for your participation in this pilot program. Your work will help us improve the customer experience for thousands of our loyal customers. If you have any questions or feedback, please contact Kendra!</p>
